@import 'reset';

* { box-sizing: border-box; }

body { margin: 0; }

.all-content {
    width: 100%;

    &:nth-child(odd) { background: #00b0eb; }

    &:nth-child(even) { background: #ffffff; }
}

.container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 40px;
}
