:root {
	--main-color: #676767;
	--bright-color: rgba(215, 16, 69, 1);
	--spacing: 15px;
}

* {
    box-sizing: border-box;
    color: var(--main-color);
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

body {
    background: #fff;
    margin: 0;
}

h4 {
    margin: var(--spacing) 0;
}

ul {
    padding-left: 20px;
}

.app {
    margin: 0 auto;
    max-width: 800px;
    width: 100%;
    padding: 0 var(--spacing);
}

.nobr-item {
    white-space: nowrap;
}

.tag {
    border-radius: 4px;
    display: inline-block;
    padding: 2px 4px;
}

.tag-skill {
    background: var(--bright-color);
    border: 1px solid #fff;
    color: #ffffff;
    font-size: 14px;
}

.tag-contact {
    border: 1px solid var(--bright-color);
    color: var(--bright-color);
}

.tag-contact a {
    color: var(--bright-color)
}

.cover-photo-container {
    width: 100%;
    text-align: center;
}

.cover-photo {
    border-radius: 50%;
    margin: var(--spacing);
}

.section-about {
    border-bottom: 1px solid var(--main-color);
    margin: 0 auto;
    text-align: center;
}

.section-contact {
    margin-top: var(--spacing);
    text-align: center;
}

@media (min-width: 768px) {
    .section-about {
        max-width: 800px;
        text-align: left;
    }

    .section-portfolio {
        display: grid;
        gap: var(--spacing);
        grid-template-columns: 4fr 3fr;
    }
}